body {
    font-family: Arial, sans-serif;
    background-image: url(./5.jpeg);
    margin: 0;
    padding: 0;
    background-size: cover; /* Cover the entire viewport */
    background-position: center; /* Center the background image */
}

.container {
    max-width: 600px;
    margin: 50px auto;
    background-image: url(./9.jpg);
    padding: 40px;
    border-radius: 20px;
    box-shadow: 10px 10px 10px rgba(0, 0, 0, 0.1);
    text-emphasis-color: black;
    background-size: cover; /* Cover the entire container */
    background-position: center; /* Center the background image */
}

h1 {
    text-align: center;
    color: blue;
    text-shadow: 2px 2px 5px red;
}

.form {
    margin-bottom: 20px;
    color: black;
}

label {
    display: block;
    margin-bottom: 5px;
}

input[type="text"],
select {
    width: 100%;
    padding: 10px;
    margin-bottom: 10px;
}

button {
    background-color: #4caf50;
    color: #fff;
    border: none;
    padding: 25px 25px;
    cursor: pointer;
    size: 100px;
}

button:hover {
    background-color: #45a049;
}

#qr-code {
    text-align: center;
}
